:root {
    --light-color: rgba(242, 182, 4, 1);
    --dark-color: rgba(140, 79, 57, 1);
    --gitHub-text-color: rgba(2, 62, 114, 1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 280px;
    width: 100%;
}

a:hover {
    color: black;
}

/* font-size for headings */
h1 {
    font-family: 'Beau Rivage', cursive;
    font-size: 3rem;
    font-weight: bolder;
    display: inline-block;
    color: black;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0;
}

h4 {
    font-size: 1.3rem;
}

#top-menu {
    text-align: right;
}

.container-fluid > h1 {
    margin: 1rem 0;
    padding: 5px 20px 5px 7%;
    border: 5px var(--light-color) solid;
    background-color: var(--light-color);
}

.custom-navbar {
    padding-right: 3rem;
    font-size: 1.6rem;
    background-color: var(--dark-color);
}

.navbar-dark {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.nav-link {
    transition: transform, text-shadow 0.3s;
}

.nav-link:hover {
    color: white;
    transform: translate(-1px, -1px);
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

/* Style for Subtitle area */
.subtitle {
    display: flex;
    background-image: url("../images/woodtable.jpg");
    width: 100%;
    height: 18.7rem;
    justify-content: flex-end;
    align-items: flex-end;
}

.subtitle h2 {
    margin-right: 5rem;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    border: 5px var(--light-color) solid;
    background-color: var(--light-color);
    font-style: italic;
}

/* Style for Aside */
.custom-aside {
    border-right: 5px var(--dark-color) solid;
    text-align: end;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

#aboutme-text {
    margin-bottom: 0;
}

.aboutme-detail{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.myphoto {
    display: block;
    width: 130px;
    margin-right: 0.7rem;
}

.aboutme-detail p {
    vertical-align: middle;
}

/* Style for Work */
.work-detail {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-title {
    display: flex;
    width: auto;
    max-width: 80%;
    height: auto;
    border: 5px var(--light-color) solid;
    background-color: var(--light-color);
    margin-bottom: 1rem;
    padding: 0 0.62rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.work-text {
    width: 100%;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.works {
    width: 48%;
    height: 9.37rem;
    border: 5px var(--light-color) solid;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    color: black;
    margin-top: 0.62rem;
    transition: transform, opacity 0.5s;
}

.works:hover {
    border-color: var(--dark-color);
    opacity: 1.0;
    box-shadow: 10px 5px 10px rgb(75, 74, 74);
    transform: translate(-5px, -5px);
    z-index: 999;
}

p.work-text {
    color: var(--gitHub-text-color);
    font-style: italic;
}

p.work-text:hover {
    color: white;
    background-color: black;
}

/* Set images of my works*/
.first-work {
    width: 100%;
    height: 12.5rem;
    background-image: url("../images/world_travel_dictionary.png");
    background-size: cover;
    opacity: 0.7;
    margin-top: 0px;
}

.second-work{
    background-image: url("../images/weather_dashboard.png");
    opacity: 0.7;
}

.third-work{
    background-image: url("../images/day_scheduler.png");
    opacity: 0.7;
}

.fourth-work{
    background-image: url("../images/woodtable.jpg");
    opacity: 0.7;
}

.fifth-work{
    background-image: url("../images/woodtable.jpg");
    opacity: 0.7;
}

.contactme-detail {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.contactme-detail li > a {
    color: black;
}

.contactme-detail li > a[href] {
    transition: tranform, text-shadow 0.3s;
}

.contactme-detail li > a[href]:hover {
    display: inline-block;
    transform: translate(-1px, -1px);
    text-shadow: 1px 1px 2px black;
}

/* Style for footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(241, 193, 70);
    margin-top: 1.25rem;
}

footer > h4 {
    padding: 3% 0;
}

/* For Responsive design  */
@media only screen and (max-width:1000px) {
    .custom-navbar {
        padding-right: 2rem;
    }

    .subtitle {
        height: 15rem;
    }
    
    .subtitle h2 {
        margin-right: 4rem;
    }

    .works{
        width: 100%;
    }

    h3 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .contactme-detail {
        margin-left: 2rem;
        margin-right: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-navbar {
        font-size: 1.4rem;
    }
}
@media only screen and (max-width:800px) {
    .myphoto {
        display: inline;
        width: 130px;
        float: left;
        margin-right: 0.7rem;
    }

    .aboutme-detail{
        display: block;
    }
    
    .aboutme-detail p {
        display: inline;
    }
}

@media only screen and (max-width:767px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    .custom-navbar {
        padding-right: 1rem;
        font-size: 1.2rem;
    }

    .subtitle {
        height: 10rem;
    }
    
    .subtitle h2 {
        margin-right: 2rem;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
    }

    .custom-aside {
        border-bottom: 3px var(--dark-color) solid;
        border-right: none;
        text-align: start;
        margin-left: 2rem;
        margin-right: 0;
    }

    .aboutme-detail,.work-detail {
        margin-left: 2rem;
        margin-right: 0;
    }

    .contactme-detail {
        margin-left: 4rem;
        margin-right: 0;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width:400px) {
    h1 {
        font-size: 1.6rem;
    }
    
    h2 {
        font-size: 1.6rem;
    }

    .contactme-detail {
        font-size: 1rem;
        max-width: 70%;
    }
}
